.Sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 383px;
  max-width: 383px;
  background-color: #ffffff;
  z-index: 1001;
  box-shadow: 0px 4px 8px 0px #4453710d, 0px 0px 16px 0px #4453711a;
  opacity: 1;
  padding: 16px 12px;
}
